USE [master]
GO
/****** Object:  Database [HospitalManageMent]    Script Date: 08/20/2020 16:21:29 ******/
CREATE DATABASE [HospitalManageMent] ON  PRIMARY 
( NAME = N'HospitalManageMent', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HospitalManageMent.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalManageMent_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HospitalManageMent_log.LDF' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManageMent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManageMent]
GO
/****** Object:  Table [dbo].[patientinfo]    Script Date: 08/20/2020 16:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[patientinfo](
	[patid] [bigint] NULL,
	[practiceid] [bigint] NULL,
	[lastname] [varchar](200) NULL,
	[firstname] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[state] [varchar](200) NULL,
	[gender] [varchar](200) NULL,
	[patientagegroup] [varchar](200) NULL,
	[birthdate] [date] NULL,
	[age] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[patientinfo] ([patid], [practiceid], [lastname], [firstname], [city], [state], [gender], [patientagegroup], [birthdate], [age]) VALUES (788601, 1, N'***nelliug***', N'***rodavlas***', N'***esoj nas***', N'***ac***', N'Male', N'Adult', CAST(0xD9220B00 AS Date), 21)
INSERT [dbo].[patientinfo] ([patid], [practiceid], [lastname], [firstname], [city], [state], [gender], [patientagegroup], [birthdate], [age]) VALUES (489803, 1, N'***snilloc***', N'***selrahc***', N'***esoj nas***', N'***ac***', N'Male', N'Minor', CAST(0xBA280B00 AS Date), 17)
INSERT [dbo].[patientinfo] ([patid], [practiceid], [lastname], [firstname], [city], [state], [gender], [patientagegroup], [birthdate], [age]) VALUES (104701, 1, N'***zadro***', N'***ordnajela***', N'***esoj nas***', N'***ac***', N'Male', N'Adult', CAST(0x43230B00 AS Date), 21)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[doctorinfo]    Script Date: 08/20/2020 16:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[doctorinfo](
	[prov] [bigint] NULL,
	[lastname] [varchar](200) NULL,
	[firstname] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[state] [varchar](200) NULL,
	[clinicid] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[doctorinfo] ([prov], [lastname], [firstname], [city], [state], [clinicid]) VALUES (28, N'***iloposab***', N'***aztiram***', N'***esoj nas***', N'***ac***', 1)
INSERT [dbo].[doctorinfo] ([prov], [lastname], [firstname], [city], [state], [clinicid]) VALUES (21, N'***ivel***', N'***elleinad***', N'***esoj nas***', N'***ac***', 1)
INSERT [dbo].[doctorinfo] ([prov], [lastname], [firstname], [city], [state], [clinicid]) VALUES (22, N'***hahs***', N'***inahus***', N'***esoj nas***', N'***ac***', 1)
/****** Object:  Table [dbo].[clinicinfo]    Script Date: 08/20/2020 16:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clinicinfo](
	[clinicid] [bigint] NULL,
	[clinicname] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[state] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[clinicinfo] ([clinicid], [clinicname], [city], [state]) VALUES (1, N'***noitaroproc latn akkis***', N'***esoj nas***', N'***ac***')
INSERT [dbo].[clinicinfo] ([clinicid], [clinicname], [city], [state]) VALUES (2, N'***ntryohroproc latn atudgsfs***', N'***esoj nas***', N'***ac***')
/****** Object:  Table [dbo].[appointmentinfo]    Script Date: 08/20/2020 16:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[appointmentinfo](
	[patid] [bigint] NULL,
	[apptid] [bigint] NULL,
	[apptdate] [date] NULL,
	[operatory] [bigint] NULL,
	[prov] [bigint] NULL,
	[appttime] [varchar](200) NULL,
	[apptlength] [varchar](50) NULL,
	[amount] [money] NULL,
	[clinicid] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[appointmentinfo] ([patid], [apptid], [apptdate], [operatory], [prov], [appttime], [apptlength], [amount], [clinicid]) VALUES (424201, 1, CAST(0x66420B00 AS Date), 1, 1, N'08:15', N'60', 250.0000, 1)
INSERT [dbo].[appointmentinfo] ([patid], [apptid], [apptdate], [operatory], [prov], [appttime], [apptlength], [amount], [clinicid]) VALUES (776001, 2, CAST(0x2F420B00 AS Date), 1, 1, N'12:00', N'60', 280.0000, 1)
INSERT [dbo].[appointmentinfo] ([patid], [apptid], [apptdate], [operatory], [prov], [appttime], [apptlength], [amount], [clinicid]) VALUES (118501, 3, CAST(0x2D420B00 AS Date), 1, 1, N'12:00', N'30', 32.0000, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
/****** Object:  Table [dbo].[transactioninfo]    Script Date: 08/20/2020 16:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transactioninfo](
	[transid] [bigint] NULL,
	[patid] [bigint] NULL,
	[proceduretype] [varchar](200) NULL,
	[proceduredate] [date] NULL,
	[prov] [bigint] NULL,
	[amount] [money] NULL,
	[clinicid] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[transactioninfo] ([transid], [patid], [proceduretype], [proceduredate], [prov], [amount], [clinicid]) VALUES (609865, 516003, N'Production', CAST(0x70410B00 AS Date), 1, 0.0000, 1)
INSERT [dbo].[transactioninfo] ([transid], [patid], [proceduretype], [proceduredate], [prov], [amount], [clinicid]) VALUES (609864, 738602, N'Production', CAST(0x70410B00 AS Date), 20, 23.0000, 1)
INSERT [dbo].[transactioninfo] ([transid], [patid], [proceduretype], [proceduredate], [prov], [amount], [clinicid]) VALUES (609863, 738602, N'Production', CAST(0x70410B00 AS Date), 1, 35.0000, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  StoredProcedure [dbo].[proUpdateAgeAndPatientAgeGroup]    Script Date: 08/20/2020 16:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proUpdateAgeAndPatientAgeGroup]
(
	@optr INT,
	@patientagegroup NVARCHAR(200),
	@age BIGINT,
	@patid BIGINT	
)
AS
BEGIN
	IF(@optr=1)
		BEGIN
		UPDATE patientinfo SET patientagegroup=@patientagegroup, age=@age WHERE patid=@patid;
	END;	
END;
GO
